.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  height: 100%;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.menu__option {
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
  color: #545454;
  @media screen and (max-width: 600px) {
    font-size: 20px;
  }
}

.menu__option_selected {
  color: #ffffff;
}