@font-face {
  font-family: 'SF Pro';
  src: url('./static/fonts/SF-Pro-Display-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro';
  src: url('./static/fonts/SF-Pro-Display-Black.otf');
  font-weight: 600;
}

body {
  font-family: 'SF Pro';
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #643EFF;
}