.enviroments {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  height: 80%;
  gap: 20px;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.enviroments__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 600px) {
    padding-right: 0%;
  }
}

.header__column {
  font-size: 20px;
  font-weight: 400;
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.enviroments__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  gap: 20px;
  @media screen and (max-width: 600px) {
    height: 60%;
  }
}